# Areas of Interest Data Analysis

In [44]:
# lib for dataframes
import pandas as pd


from scipy import stats

from chord import Chord

Config

In [45]:
config_prefix = ['BR', 'BI', 'TR', 'TI']

config_algo_names = ['BinarySearch', 'BubbleSort', 'Factorial', 'Fibonacci', 'IntegerBinary', 'MultiplyMatrix', 'PrimeFactors', 'ReverseString']

config_datasheet = r'./preprocessed.xlsx'

Import Dataframe

In [54]:
df_matrix = []
raw = pd.read_excel(config_datasheet)
df = pd.DataFrame(raw)
df = df.loc[df["Flag"]!="outlier"]

Prepare Image Paths

Split DataFrames

In [55]:
df_BU_R = df.loc[(df["Comprehension"]=="BU") & (df["ProgrammingStyle"]=="R")]
df_BU_I = df.loc[(df["Comprehension"]=="BU") & (df["ProgrammingStyle"]=="I")]
df_TD_R = df.loc[(df["Comprehension"]=="TD") & (df["ProgrammingStyle"]=="R")]
df_TD_I = df.loc[(df["Comprehension"]=="TD") & (df["ProgrammingStyle"]=="I")]

df_array = [df_BU_R, df_BU_I, df_TD_R, df_TD_I]

,Subject,ProgrammingStyle,Comprehension,ResponseTime,Algorithm,Flag,Correctness,ClickData
0,638,R,BU,296,BinarySearch,NaN,True,136-143 182-47 475-78 284-96 190-147 437-143 1...
2,784,R,BU,438,BinarySearch,NaN,True,176-32 413-60 216-110 426-77 209-116 286-166 5...
3,829,R,BU,449,BinarySearch,NaN,False,197-66 457-40 232-133 383-167 152-140 194-198 ...
4,841,R,BU,123,BinarySearch,NaN,True,195-40 450-92 201-104 196-137 535-171 208-217 ...
5,857,R,BU,467,BinarySearch,NaN,True,100-35 364-56 165-89 385-87 152-108 176-142 20...
...,...,...,...,...,...,...,...,...
143,877,R,BU,98,ReverseString,NaN,False,144-62 109-27 161-62 367-86 484-78 291-124 217...
144,889,R,BU,69,ReverseString,NaN,True,77-54 266-109 54-19 125-87 411-91 256-128 480-...
145,895,R,BU,69,ReverseString,NaN,True,150-61 147-29 170-60 432-82 301-105 397-136 21...
147,948,R,BU,174,ReverseString,NaN,True,152-82 402-73 388-125 322-141 329-61 331-113 3...
148,949,R,BU,97,ReverseString,NaN,False,171-41 208-98 320-140 390-217 329-258 314-304 ...

Cast Data to Valid format

In [51]:
#cast data to valid format

visual_stimulus_matrix = []

for df in df_array:
    visual_stimulus_array = []
    for idx, row in df.iterrows():
        data_str = row["ClickData"]
        data_str = data_str.strip()
        
        coordinate_str_array = data_str.split(" ")
        coordinates = []
        for coordinate_str in coordinate_str_array:
            coordinate = coordinate_str.split("-")
            coordinate = (int(coordinate[1]))
            coordinates.append(coordinate)
                
        visual_stimulus_array.append(coordinates)
    visual_stimulus_matrix.append(visual_stimulus_array)

In [11]:
iterative = ['none', 'main', 'Iterative definition', 'Pre calculation', 'Iteration Condition', 'Iteration Step', 'Return Result']
recursive = ['none','main', 'Recursive definition', 'Pre calculation', 'Recursive Condition', 'Recursive Step', 'Return Result']
order = ['0', '1', '2', '3', '4', '5', '6']

In [12]:
def is_in(df, y):
    for _idx, row in df.iterrows():
        if row["startHeight"] <= y <= row["stopHeight"]:
            return row["Name"]
    return "none"

In [13]:
cols = ["startHeight", "stopHeight", "startWidth", "stopWidth", "Name"]

relation_array = []
for row in range(len(config_prefix)):
    names = None
    if row % 2 == 0:
        names = recursive
    else:
        names = iterative
    
    relation = []
    for i in range(len(names)):
        relation.append([0]*len(names))
    
    for col in range(len(config_algo_names)):
        datasheet = aoi_datasheets[col][row]
        df = pd.read_excel(datasheet)
        
        for data_set in visual_stimulus_tensor[col][row]:
            for idx in range(len(data_set)-1):
                from_field = is_in(df, data_set[idx])
                to_field = is_in(df, data_set[idx+1])
        
                from_field = names.index(from_field)
                to_field = names.index(to_field)
                
                relation[from_field][to_field] = 1 + relation[from_field][to_field] 
                
    relation_array.append(relation)

In [14]:
for matrix in relation_array:
    for idx in range(len(matrix)):
        matrix[idx][idx] = 0

In [15]:
Chord(relation_array[0], order, padding=0.1).to_html("BR_general.html")
Chord(relation_array[1], order, padding=0.1).to_html("BI_general.html")

In [17]:
Chord(relation_array[2], order, padding=0.1).to_html("TR_general.html")
Chord(relation_array[3], order, padding=0.1).to_html("TI_general.html")

In [16]:
from pathlib import Path

file = Path('BR_general.html')
file.write_text(file.read_text().replace('True', 'true'))

file = Path('BI_general.html')
file.write_text(file.read_text().replace('True', 'true'))

file = Path('TR_general.html')
file.write_text(file.read_text().replace('True', 'true'))

file = Path('TI_general.html')
file.write_text(file.read_text().replace('True', 'true'))

559

In [24]:
names = ["Action", "Adventure", "Comedy", "Drama", "Fantasy", "Thriller"]

matrix = [
    [0, 5, 6, 4, 7, 4],
    [5, 0, 5, 4, 6, 5],
    [6, 5, 0, 4, 5, 5],
    [4, 4, 4, 0, 5, 5],
    [7, 6, 5, 5, 0, 4],
    [4, 5, 5, 5, 4, 0]
]

Chord(matrix, names).to_html()